In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [75]:
df = pd.read_csv ("Credit_score_classification.csv")
df.head(10)

C:\Users\yacin\AppData\Local\Temp\ipykernel_45428\743111189.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv ("Credit_score_classification.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [77]:
df.isna().sum()

ID                              0
Customer_ID                     0
Month                           0
Name                         9985
Age                             0
SSN                             0
Occupation                      0
Annual_Income                   0
Monthly_Inhand_Salary       15002
Num_Bank_Accounts               0
Num_Credit_Card                 0
Interest_Rate                   0
Num_of_Loan                     0
Type_of_Loan                11408
Delay_from_due_date             0
Num_of_Delayed_Payment       7002
Changed_Credit_Limit            0
Num_Credit_Inquiries         1965
Credit_Mix                      0
Outstanding_Debt                0
Credit_Utilization_Ratio        0
Credit_History_Age           9030
Payment_of_Min_Amount           0
Total_EMI_per_month             0
Amount_invested_monthly      4479
Payment_Behaviour               0
Monthly_Balance              1200
Credit_Score                    0
dtype: int64

In [78]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [94]:
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")
df["Annual_Income"] = pd.to_numeric(df["Annual_Income"], errors="coerce")
df["Monthly_Inhand_Salary"] = pd.to_numeric(df["Monthly_Inhand_Salary"], errors="coerce")
df["Num_of_Loan"] = pd.to_numeric(df["Num_of_Loan"], errors="coerce")
df["Num_of_Delayed_Payment"] = pd.to_numeric(df["Num_of_Delayed_Payment"], errors="coerce")
df["Num_Credit_Inquiries"] = pd.to_numeric(df["Num_Credit_Inquiries"], errors="coerce")
df["Credit_Utilization_Ratio"] = pd.to_numeric(df["Credit_Utilization_Ratio"], errors="coerce")
df["Credit_History_Age"] = pd.to_numeric(df["Credit_History_Age"], errors="coerce")
df["Monthly_Balance"] = pd.to_numeric(df["Monthly_Balance"], errors="coerce")
df["Credit_Score"] = pd.to_numeric(df["Credit_Score"], errors="coerce")
# Convertir la colonne "Month" en type de données datetime en spécifiant le format du mois
df["Month"] = pd.to_datetime(df["Month"], format="%B")

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  datetime64[ns]
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             93020 non-null   float64
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               95215 non-null   float64
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    90254 non-null   float64
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        0 non-null       float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98791 non-null   float64
 27  Credit_Score              0 non-null       float64
dtypes: datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 21.4+ MB

In [79]:
df["Month"].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August'], dtype=object)

In [80]:
df["Age"].unique() #présence de valeur abérante et de valeur fausse comme -500 et 28_ ..... à traiter

array(['23', '-500', '28_', ..., '4808_', '2263', '1342'], dtype=object)

### Traitement des valeurs manquantes et abérentes

#### Variable "Age"

In [81]:
import re

# Définir une fonction pour nettoyer les valeurs de la colonne "Age"
def nettoyer_age(age):
    # Supprimer le caractère "_" après les chiffres
    age = re.sub(r'(\d+)_', r'\1', str(age))
    # Retourner None si la valeur ne peut pas être convertie en nombre entier, sinon retourner l'âge converti
    try:
        age = int(age)
        if age >= 0:  # Supprimer les valeurs négatives
            return age
        else:
            return None
    except ValueError:
        return None  # Retourner None pour les valeurs non numériques

# Appliquer la fonction à la colonne "Age"
df["Age"] = df["Age"].apply(nettoyer_age)

In [89]:
# Convertir la colonne "Age" en type numérique
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

In [90]:
# Définir une fonction pour remplacer les valeurs aberrantes d'âge par le mode correspondant à chaque valeur de la variable "Occupation"
def remplacer_valeurs_aberrantes(row):
    if row["Age"] > 70:
        # Obtenir le mode de l'âge pour cette occupation
        mode_age = df[df["Occupation"] == row["Occupation"]]["Age"].mode()
        # Vérifier si le mode existe (peut y avoir plusieurs modes)
        if not mode_age.empty:
            return mode_age.iloc[0]  # Utiliser le premier mode
        else:
            return row["Age"]  # Retourner l'âge d'origine s'il n'y a pas de mode
    else:
        return row["Age"]

# Appliquer la fonction à chaque ligne du DataFrame
df["Age"] = df.apply(remplacer_valeurs_aberrantes, axis=1)

In [91]:
df["Age"].unique()

array([23., 33., 28., 34., 54., 55., 21., 31., 37., 30., 24., 44., 45.,
       40., 41., 32., 35., 36., 39., 20., 46., 26., 42., 19., 48., 38.,
       43., 22., 16., 18., 25., 15., 27., 14., 17., 47., 53., 56., 29.,
       49., 51., 50., 52.])

#### Variable "Occupation"

In [85]:
df["Occupation"].unique()#Pour cette variable égalemment on remarque la présence de valeurs manquante et faussé par erreur de frappe.

array(['Scientist', '_______', 'Teacher', 'Engineer', 'Entrepreneur',
       'Developer', 'Lawyer', 'Media_Manager', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

In [86]:
# Compter le nombre d'occurrences de "_______" dans la colonne "Occupation"
occurrences_underscore = (df["Occupation"] == "_______").sum()
print("Nombre d'occurrences de '_______' dans la colonne 'Occupation':", occurrences_underscore)

Nombre d'occurrences de '_______' dans la colonne 'Occupation': 7062

In [87]:
from fuzzywuzzy import process

# Liste des occupations uniques sans les valeurs "_______"
occupations = df[df["Occupation"] != "_______"]["Occupation"].unique()

# Fonction pour trouver la meilleure correspondance
def trouver_correspondance(occupation):
    return process.extractOne(occupation, occupations)[0]

# Remplacer les valeurs "_______" par les meilleures correspondances
df["Occupation"] = df["Occupation"].apply(lambda x: x if x != "_______" else trouver_correspondance(x))

In [88]:
df["Occupation"].unique()

array(['Scientist', 'Media_Manager', 'Teacher', 'Engineer',
       'Entrepreneur', 'Developer', 'Lawyer', 'Doctor', 'Journalist',
       'Manager', 'Accountant', 'Musician', 'Mechanic', 'Writer',
       'Architect'], dtype=object)

#### Variable salaire par moi "Monthly_Inhand_Salary"